@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using ToDoListApp.Services
@using ToDoListApp.Data.Entity
@inject ToDoListService TodoService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in items)
            {
                <tr>
                    <td>@todo.Title</td>
                    <td>@todo.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ToDoItem[]? items;

    protected override async Task OnInitializedAsync()
    {
        items = await TodoService.GetItems(DateTime.Now);
    }
}
