@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using TodoListApp.Services
@using TodoListApp.Data.Entity
@inject IToDoListService ToDoService

<h1>TODO'S</h1>

<p>ToDo List, do it!</p>

@if (items == null)
{
    <p><em>Null???</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in items)
            {
                <tr>
                    <td>@todo.Title</td>
                    <td>@todo.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ToDoItem> items;

    protected override async Task OnInitializedAsync()
    {
        items = await ToDoService.GetAll();

       //  items = await ToDoService.GetItems(DateTime.Now);
    }
}
